.name{
	border:0em;
	outline:0em;
	background:transparent;
	border-bottom:0.0625em solid  #d6d6d6;
	display:block;
	margin-left:25em;
	margin-top:5.875em;
	width:32.8125em;
	font-family:Open Sans;
	font-size:0.875em;
	color:#d6d6d6;
}


.email{
	border:0em;
	outline:0em;
	background:transparent;
	border-bottom:0.0625em solid #d6d6d6;
	display:block;
	margin-left:25em;
	margin-top:2.8125em;
	width:32.8125em;
	font-family:Open Sans;
	font-size:0.875em;
	
}

.subject{
	border:0em;
	outline:0em;
	background:transparent;
	border-bottom:0.0625em solid  #d6d6d6;
	display:block;
	margin-left:25em;
	margin-top:2.8125em;
	width:32.8125em;
	font-family:Open Sans;
	font-size:0.875em;
	color:#d6d6d6;
}

.message{
	border:0em;
	outline:0em;
	background:transparent;
	border-bottom:0.0625em solid  #d6d6d6;
	margin-left:5.3125em;
	margin-top:5.875em; 
	width:25.625em;
	height:9.6875em;
	font-family:Open Sans;
	font-size:0.875em;
	color:#d6d6d6;
}

.input{
  float:left;
}

.contactUs{
	margin-top:3.65em;
	margin-left:17.75em;
	font-family:Raleway;
	font-size:2.25em;
}

.contactLine{
	margin-top:1.875em;
	margin-left: 43.625em;
	width:4.0625em;
	border-color:#ff9b51;
}

.contactLorem{
	margin-left:39.4375em;
	margin-top:1.875em;
	color:#86878b;
	font-family:Open Sans;
	font-size:0.875em;
}


.flc {
  display: flex;
  background-color: #fff;
  height:15.9375em;
 
  
}

.flc > div {
  background-color: #fff;
  margin: 0.0625em;
  padding:0.0625em;
  font-size: 0.875em;
}

.sendMessage{
	margin-top: 2.75em;
	margin-left:45em;
	padding:1em 1.375em;
	border:0em;
	font-family:Open Sans;
	font-size:0.9375em;
	color:white;
	background-color:#ff9b51;
	margin-bottom:5.0625em;
}