.flexCustomer {
  display: flex;
  background-color: #fff;
  height:37em;
 
  
}

.flexCustomer > div {
  background-color: #fff;
  margin:  0.0625em;
  padding: 0.0625em;
  font-size: 0.875em;
}

.talk{
	
	margin-left:7.1875em;
	margin-top:19.6875em;
}

.avatar{
	margin-left:7.375em;
	margin-top:0.5em;
	
}

.h5{
  font-size: 0.875em;
  font-family: OpenSans;
  color: rgb(134, 135, 139);
  text-align: left;
  position: absolute;
  margin-left: 17.9em;
  top:  376.5em;
  

}

.h4{
  font-size: 1.25em;
  font-family: Open Sans;
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-align: left;
  position: absolute;
  left: 12.4em;
  top: 261.75em;
  
}



.pCustomer{

  font-size: 0.875em;
  font-family:OpenSans;
  color: #86878b;
  text-align: left;
  position: absolute;
  left: 10.3125em;
  top: 363.625em;
 
}

.customersSay{
	font-family:Raleway;
	font-size:1.625em;
	margin-top: 4.6875em;
	
}

.talk2{
	
	margin-left:4.375em;
	margin-top:4.0625em;
}

.avatar2{
	margin-left:5.0625em;
	margin-top:0.25em;
	
}
.loremCust{
  font-size: 0.875em;
  font-family:OpenSans;
  color: #86878b;
  text-align: left;
  position: absolute;
  left:50.4375em;
  top: 363.625em;
  
}

.john{
  font-size: 1.25em;
  font-family: Open Sans;
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 0.075em;
  text-align: left;
  position: absolute;
  left: 39.6875em;
  top: 261.75em;

}



.freelancer{

  font-size: 0.875em;
  font-family: OpenSans;
  color: rgb(134, 135, 139);
  line-height: 0.075em;
  text-align: left;
  position: absolute;
  left:56.875em;
  top:  376.6em;

}

.talk3{
	
	margin-left:7.5625em;
	margin-top:19.375em;
}

.avatar3{
	margin-left:7.5625em;
	margin-top:0.5em;
	
}
.loremPhoto{
 
  font-size: 0.875em;
  font-family: OpenSans;
  color: rgb(134, 135, 139);
  line-height: 0.075em;
  text-align: left;
  position: absolute;
  left: 91.25em;
  top: 363.625em;

}

.susan{
  font-size: 1.25em;
  font-family:Open Sans;
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 0.075em;
  text-align: left;
  position: absolute;
  left: 67.625em;
  top: 261.75em;

}



.photographer{

  font-size: 0.875em;
  font-family: Open Sans;
  color: rgb(134, 135, 139);
  line-height: 0.075em;
  text-align: left;
  position: absolute;
  left: 97.0625em;
  top:  376.5em;

}

