
.active, .btn:hover {
  list-style-type: none;
  margin: 0em;
  padding: 0em;
  overflow: hidden;
  background-color: #ff8b38;
  padding: 3em 2.1875em;
  display: block;
  color:#fff;
  font-weight: bold;
  border-width: 0.0625em;
  margin-top:9.25em;
  margin-left:12.0625em;
  
}

.tabButton {
  list-style-type: none;
  margin: 0em;
  padding: 0em;
  overflow: hidden;
  background-color: #333;
  padding: 3em 2.1875em;
  display: block;
  color:#fff;
  font-weight: bold;
  border-width: 0.0625em;
  margin-left:12.0625em;
}
.tabTop{
	font-family:Open Sanse;
	font-size:1.25em;
	font-weight: bold;
	margin-top:9.75em;
	margin-left:6.5em;
}
 
.downloadbtn{
	background-color:#ff8b38;
	color:white;
	font-family:Open Sanse;
	font-size: 0.9375em;
	padding:1em 1.5em;
	border-width: 0.0625em;
	 margin-top:3.625em;
	 margin-left:8.25em;
}


 .p{
	 margin-top:3.625em;
	 color:#86878b;
	 margin-left:8.25em;
	 
 }
 
 
 
 .building{
	 padding:6.4375em;
	 margin-top:10.5em;
	 margin-right:8.25em;
 }

.flContainer {
  display: flex;
  background-color:#f5f5f5; 
  height:36.875em;
 
  
}

.flContainer > div {
  background-color: #f5f5f5;
  margin: 0.0625em;
  padding: 0.0625em;
  font-size: 0.875em;
}

