.media{
	margin-top:1.3125em;
	margin-left:30.0625em;
	
}
.face{
	padding:2em;
	width:1.375em;
	height:1.5625em;
}

.twit{
	padding:2em;
	width:1.375em;
	height:1.5625em;
}

.gmail{
	padding:2em;
	width:1.375em;
	height:1.5625em;
}

.print{
	padding:2em;
	width:1.375em;
	height:1.5625em;
}

.insta{
	padding:2em;
	width:1.375em;
	height:1.5625em;
}

.stumbleupon{
	padding:2em;
	width:1.375em;
	height:1.5625em;
}
.rss{
	padding:2em;
	width:1.375em;
	height:1.5625em;
}

.rights{
  font-size: 0.75em;
  font-family: OpenSans;
  color: #505050;
  line-height: 0.075em;
  text-align: left;
  position: absolute;
  left: 57.87em;
  top: 485.7em;

}

.footer{
	background-color:#000;
	height: 5.25em;

}

