.backgroundImage{
	background-image:url("../images/background.jpg");
	filter: brightness(90%);
	width:94.9375em;
	height: 44.5em;
	
}

.axit{
	padding-top:6.875em;
	margin-left:9.375em;
	width:10.9375em;
	height:3.75em;
}

.title{
	font-family:Raleway;
	font-size:2.25em;
	font-weight:normal;
	color:white;
	display:block;
	padding-top:2em;
	margin-left:4.375em;
}

.line{
	width:4.0625em;
	margin-left:9.5em;
	margin-top:2.5em;
	
}

.text{
	color:white;
	font-family:Raleway Light;
	font-size:1em;
	opacity:0.6;
	padding-top:2.1875em;
	margin-left:9.375em;
}

.button{
	color:white;
	border: 0.125em solid #fff;
    background-color: Transparent;
    background-repeat:no-repeat;
	font-family:OpenSanse;
    font-size: 1em;
    overflow: hidden;
    outline:none;
	padding:0.875em 1.875em;
	margin:3.25em 9.375em;
	
}

.signUp {
  background-color:#f5f5f5;
  position: absolute;
  left: 58em;
  top: 13.9em;
  width: 22.5625em;
  height: 3.3125em;

}

.reg {
  background-color:#fff;
  position: absolute;
  left: 58em;
  top: 16.4375em;
  width: 22.5625em;
  height: 16em;

}



.password {
  font-size: 0.875em;
  font-family: OpenSans;
  color: rgb(189, 189, 189);
  line-height: 0.075em;
  text-align: left;
  position: absolute;
  left: 1.75em;
  top: 11.0625em;
  width:18em;
  border:0em;
  outline:0em;
  border-bottom:0.0625em solid  #d6d6d6;

  
}
.userEmail {
  font-size: 0.875em;
  font-family: OpenSans;
  color: rgb(189, 189, 189);
  line-height: 0.075em;
  text-align: left;
  position: absolute;
  left: 1.75em;
  top: 6.25em;
  width:18em;
  border:0em;
  outline:0em;
  border-bottom:0.0625em solid  #d6d6d6;

}
.userName {
  font-size: 0.875em;
  font-family: OpenSans;
  color: rgb(189, 189, 189);
  line-height:0.075em;
  text-align: left;
  position: absolute;
  left: 1.75em;
  top:  2.125em;
  width:18em;
  border:0em;
  outline:0em;
  border-bottom:0.0625em solid  #d6d6d6;

}
.tryYour {
  font-size: 1.25em;
  font-family: Open Sans;
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 0.075em;
  text-align: left;
  position: absolute;
  left:53px;


}


.getStarted {
  font-size: 1.25em;
  font-family: OpenSans;
  color: rgb(255, 255, 255);
  line-height: 0.075em;
  text-align: center;
  padding:1.25em 0em;
  position: absolute;
  width:  17.99999999em;
  left: 46.4em;
  top: 25.9em;
  background-color:#ff9b51;
  border:0em;
}
