
.logo{
	width:4.9375em;
	height:1.6875em;
	float:left;
	padding-left:9.3125em;
	
}

.navbar {
  list-style-type: none;
  margin: 0em;
  padding: 0em;
  overflow: hidden;
  padding-top: 1.3125em;
  padding-bottom:1.375em;
  background-color: #000;
  padding-right:9.25em;
  
}

.navbar-content {
  
  font-family: Open Sanse;
  font-size: 0.875em;
  float: right;
  padding-left:3.0625em;
  padding-right:3.0625em;
  display: block;
  color: white;
  text-align: right;
  text-decoration: none;
 
}


