

.nameB{
	display: block;
	background-color:#333333;
	color:white;
	padding:22px 145.5px;
	border-bottom-width:2px;
	border-color: #fff;
	font-family:OpenSans;
	font-size:20px;
	font-weight:bold;
	margin-left:145px;
	margin-top:323px;
	border:0;
	border-bottom:1px solid  #fff;
}


.priceB{
	display: block;
	background-color:#333333;
	color:white;
	padding:30px 146px;
	border-color:#333333;
	font-family:Raleway;
	font-weight:bold;
	font-size:35px;
	border-bottom-width:0px;
	margin-left:145.5px;
	border:0;
	border-bottom:1px solid  #333333;
	
}

.freeB{
	display: block;
	background-color:#333333;
	color:#999999;
	padding:30px 128.1px;
	font-family:Raleway;
	font-weight:bold;
	font-size:14px;
	margin-left:145px;
	border:0;
	border-bottom:1px solid  #333333;
}

.emptyB{
	display:block;
	background-color:#ff8b38;
	border-color:#ff8b38;
	padding:5px 168.5px;
	margin-left:144px;
	border:0;
}

.propertyGBOf{
	color:#86878b;
	background-color:#fff;
	font-family:OpenSans;
	font-size:14px;
	display:block;
	padding:15px 120px;
	margin-left:144px;
	border:0;
	border-bottom:1px solid  #d6d6d6;
}


.propertyGB{
	color:#86878b;
	background-color:#fff;
	font-family:OpenSans;
	font-size:14px;
	display:block;
	padding:15px 94px;
	margin-left:144px;
	border:0;
	border-bottom:1px solid  #d6d6d6;
}

.propertyWeb{
	color:#86878b;
	background-color:#fff;
	font-family:OpenSans;
	font-size:14px;
	display:block;
	padding:15px 129px;
	margin-left:144px;
	border:0;
	border-bottom:1px solid  #d6d6d6;
}

.propertyBasic{
	color:#86878b;
	background-color:#fff;
	font-family:OpenSans;
	font-size:14px;
	display:block;
	padding:15px 89px;
	margin-left:144px;
	border:0;
	border-bottom:1px solid  #d6d6d6;
}

.propertyWordpress{
	color:#86878b;
	background-color:#fff;
	font-family:OpenSans;
	font-size:14px;
	display:block;
	padding:15px 78px;
	margin-left:144px;
	border:0;
	border-bottom:1px solid  #d6d6d6;
}

.propertyEmail{
	color:#86878b;
	background-color:#fff;
	font-family:OpenSans;
	font-size:14px;
	display:block;
	padding:15px 114px;
	margin-left:144px;
	border:0;
	border-bottom:1px solid  #d6d6d6;
}

.pricing{
	font-family:Raleway;
	font-size:36px;
	font-weight:unbold;
	margin-top:107px;
	margin-left:58px;
}

.linePricing{
	margin-top:30px;
	border-color:#ff8b38;
	width:65px;
	margin-left:180px;
}

.pricingLorem{
	margin-left:35px;
	font-family:OpenSans;
	font-size:14px;
	color:#86878b;
}

.professional{
	font-family:Raleway;
	font-weight:bold;
	font-size:20px;
	margin-top:80px;
	margin-left:40px;
	padding:22px 112px;
	display: block;
	background-color:#333333;
	color:white;
	border:0;
	border-bottom:1px solid  #fff;
}

.profPrice{
	padding:40.5px 140.5px;
	display: block;
	background-color:#333333;
	color:white;
	font-family:Raleway;
	font-weight:bold;
	font-size:35px;
	border-bottom-width:0px;
	margin-left:40px;
	border:0;
	border-bottom:1px solid  #333;
}

.payment{
	font-family:OpenSans;
	font-size:14px;
	display: block;
	background-color:#333333;
	color:white;
	border-color:#333333;
	padding:15px 120.2px;
	margin-left:40px;
	border:0;
	border-bottom:1px solid  #333333;
}

.mostPopular{
	padding:14px 97px;
	margin-left:40px;
	background-color:#ff8b38;
	border-color:#ff8b38;
	font-family:OpenSans;
	font-size:14px;
	font-weight:bold;
	color: white;
	border:0;
	
}

.propertyGBOfProf{
	color:#86878b;
	background-color:#fff;
	font-family:OpenSans;
	font-size:14px;
	display:block;
	padding:15px 122px;
	margin-left:40px;
	border:0;
	border-bottom:1px solid  #d6d6d6;
}


.propertyGBProf{
	color:#86878b;
	background-color:#fff;
	font-family:OpenSans;
	font-size:14px;
	display:block;
	padding:15px 97px;
	margin-left:40px;
	border:0;
	border-bottom:1px solid #d6d6d6;
}

.propertyWebProf{
	color:#86878b;
	background-color:#fff;
	font-family:OpenSans;
	font-size:14px;
	display:block;
	padding:15px 128px;
	margin-left:40px;
    border:0;
	border-bottom:1px solid  #d6d6d6;
}

.propertyBasicProf{
	color:#86878b;
	background-color:#fff;
	font-family:OpenSans;
	font-size:14px;
	display:block;
	padding:15px 74px;
	margin-left:40px;
    border:0;
	border-bottom:1px solid  #d6d6d6;
}

.propertyWordpressProf{
	color:#86878b;
	background-color:#fff;
	font-family:OpenSans;
	font-size:14px;
	display:block;
	padding:15px 80px;
	margin-left:40px;
    border:0;
	border-bottom:1px solid  #d6d6d6;
}

.propertyEmailProf{
	color:#86878b;
	background-color:#fff;
	font-family:OpenSans;
	font-size:14px;
	display:block;
	padding:15px 116px;
	margin-left:40px;
	border:0;
	border-bottom:1px solid  #d6d6d6;
}


.enterprise{
	font-family:Raleway;
	font-weight:bold;
	font-size:20px;
	margin-top:326px;
	margin-left:40px;
	padding:22px 119px;
	display: block;
	background-color:#333333;
	color:white;
	border:0;
	border-bottom:1px solid  #fff;
}

.priceE{
	padding:40.5px 137.2px;
	display: block;
	background-color:#333333;
	color:white;
	border-color:#333333;
	font-family:Raleway;
	font-weight:bold;
	font-size:35px;
	margin-left:40px;
	border:0;
	border-bottom:1px solid  #333333;
}

.paymentE{
	font-family:OpenSans;
	font-size:14px;
	color:#999999;
	display: block;
	background-color:#333333;
	border-color:#333333;
	padding:15px 118.1px;
	margin-left:40px;
	font-weight:semibold;
	border:0;
	border-bottom:1px solid  #333333;
}

.emptyE{
	display:block;
	background-color:#ff8b38;
	border-color:#ff8b38;
	padding:5px 168.2px;
	margin-left:40px;
	border:0;
}

.propertyGBOfEnter{
	color:#86878b;
	background-color:#fff;
	font-family:OpenSans;
	font-size:14px;
	display:block;
	padding:15px 106.2px;
	margin-left:40px;
	border:0;
	border-bottom:1px solid  #d6d6d6;
}


.propertyGBEnter{
	color:#86878b;
	background-color:#fff;
	font-family:OpenSans;
	font-size:14px;
	display:block;
	padding:15px 84.2px;
	margin-left:40px;
	border:0;
	border-bottom:1px solid  #d6d6d6;
}

.propertyWebEnter{
	color:#86878b;
	background-color:#fff;
	font-family:OpenSans;
	font-size:14px;
	display:block;
	padding:15px 121px;
	margin-left:40px;
border:0;
	border-bottom:1px solid  #d6d6d6;
}

.propertyBasicEnter{
	color:#86878b;
	background-color:#fff;
	font-family:OpenSans;
	font-size:14px;
	display:block;
	padding:15px 71.2px;
	margin-left:40px;
	border:0;
	border-bottom:1px solid  #d6d6d6;
}

.propertyWordpressEnter{
	color:#86878b;
	background-color:#fff;
	font-family:OpenSans;
	font-size:14px;
	display:block;
	padding:15px 77.5px;
	margin-left:40px;
	border:0;
	border-bottom:1px solid  #d6d6d6;
}

.propertyEmailEnter{
	color:#86878b;
	background-color:#fff;
	font-family:OpenSans;
	font-size:14px;
	display:block;
	padding:15px 83.5px;
	margin-left:40px;
	border:0;
	border-bottom:1px solid  #d6d6d6;
}



.flexC {
  display: flex;
  background-color: #f5f5f5;
  height:910px;
 
  
}

.flexC > div {
  background-color: #f5f5f5;
  margin: 1px;
  padding: 1px;
  font-size: 14px;
}