.lineProcess{
	margin-top:30px;
	border-color:#ff8b38;
	width:65px;
}

.bulb{
	margin-left:283px;
	margin-top:290px;
}

.thoughtful{
	font-family:OpenSans;
	font-size:20px;
	font-weight:bold;
	margin-top:30px;
	margin-left:227px;
}

.paragraphL{
	font-family:OpenSans;
	font-size:14px;
	color:#86878b;
	margin-top:25px;
	margin-left:161px;
	text-align:center;
}

.keyboard{
	margin-left:170px;
	margin-top:37px;
	
}

.whyThisIs{
	margin-top:108px;
	font-family:Raleway;
	font-weight:unbold;
	font-size:32px;
	text-align:center;
}

.whyLorem{
	margin-top:35px;
	margin-left:31px;
	font-family:OpenSans;
	font-size:14px;
	color:#86878b;
	text-align:center;
}

.well{
	font-family:OpenSans;
	font-size:20px;
	font-weight:bold;
	margin-top:30px;
	margin-left:145px;
}

.paragraphWell{
	font-family:OpenSans;
	font-size:14px;
	color:#86878b;
	margin-top:25px;
	margin-left:48px;
	text-align:center;
}

.customize{
	font-family:OpenSans;
	font-size:20px;
	font-weight:bold;
	margin-top:30px;
	margin-left:145px;
}

.lightning{
	margin-left:190px;
	margin-top:287px;
}

.paragraphEasy{
	font-family:OpenSans;
	font-size:14px;
	color:#86878b;
	margin-top:25px;
	margin-left:48px;
	text-align:center;
}

.container {
  display: flex;
  background-color: #fff;
  height:590px;
 
  
}

.container > div {
  background-color: #fff;
  margin: 1px;
  padding: 1px;
  font-size: 14px;
}