.back{
	background-image:url("../images/back.jpg");
	filter: brightness(90%);
	height:20em;
}

.STYLISH_AXURE_DESIGN {
  font-size:2.25em;
  font-family: Raleway;
  font-weight:undold;
  color:#fff;
  line-height:0.075em;
  text-align: left;
  position: absolute;
  left: 15.7em;
  top: 1.625em;
 
}

.Use_the_sections{
  font-size: 1em;
  font-family: Raleway Light;
  color: rgba(255, 255, 255, 0.8);
  line-height: 0.075em;
  text-align: left;
  position: absolute;
  left: 22.7929375em;
  top: 10.4375em;
 
}

.lineWhite{
	width:4.0625em;
	left:9.5em;
	border-color:;
}

.download{
	margin-top:13.4375em;
	margin-left:42.375em;
	color:white;
	border: 0.125em solid #fff;
    background-color: Transparent;
    background-repeat:no-repeat;
	font:OpenSanse;
	font-size:0.9375em;
    font-size:  1em;
    overflow: hidden;
    outline:none;
	padding:0.875em 1.875em;
	
}