.social{
	margin: 0em;
    padding: 0em;
	background-color:#ffffff;
	
}


.socialMedia{
	margin-left:10.8125em;
	font-family:Open Sanse;
	font-size:1.25em;
	
}

.lorem{
	font-family:Open Sanse;
	margin-left:13.7125em;
	padding-bottom:1.75em;
	color:#86878b;
	
	
}



.media1{
	padding:1.75em;
	margin-right:2.875em;
	
}

.media2{
	padding:1.75em;
	margin-right:2.875em;
}

.media3{
	padding:1.75em;
	margin-right:2.875em;
}
.media4{
	padding:1.75em;
	margin-right:2.875em;
}
.media5{
	padding:1.75em;
	margin-right:2.875em;
}
.media6{
	padding:1.75em;
	margin-right:2.875em;
}
.media7{
    padding:1.75em;
	margin-right:2.875em;
	padding-right:9.75em;
}
.flex-container {
  display: flex;
  background-color: #fff;
  height:9.375em;
  
}

.flex-container > div {
  background-color: #fff;
  margin: 0.125em;
  padding: 0.625em;
 
  font-size:  0.75em;
}


.lines{
	width:96.25em;
	border-width: 0.125em;
	
	
}