.flex {
  display: flex;
  background-color: #f5f5f5;
  height:32.6875em;
 
  
}

.flex > div {
  background-color: #f5f5f5;
  margin: 0.0625em;
  padding: 0.0625em;
  font-size:  0.875em;
}

.view{
	margin-top:5.75em;
	margin-left:17.375em;
	width:28.125em;
	height:18.75em

;
}

.h1S{
	margin-left:12.375em;
	font-family:Open Sans;
	font-size:1.25em;
	font-weight:bold;
	margin-top:6.75em;
}


.lineStandart{
	
	margin-top:30px;
	border-color:#ff8b38;
	width:4.0625em;
	float:left;
	margin-left:15.375em;
}
.pStandart{
	font-family:Open Sans;
	font-size: 0.875em;
	color:#86878b;
	margin-top: 5em; 
	margin-left:17.375em;
}

