.lineSub{
	border-width: 3px;
	border-color:#ff8b38;
	width:65px;
	margin-left:194px;
	margin-top:29px;
}

.sity{
	margin-top:128px;
	margin-left:100px;
	
}

.loremIp{
	margin-top:128px;
	margin-left:194px;
	font-family:Open Sans;
	font-size:20px;
}

.pLorem{
	margin-left:194px;
	margin-top:30px;
	font-family:Open Sans;
	font-size:14px;
	color:#86878b;
}

.pLI{
	font-family:Open Sans;
	font-size:14px;
	color:#86878b;
}
	
.cloudUp{
	margin-left:193px;
	
}

.LI{
	margin-left:263px;
	margin-top:50px;
	text-align: left;
	position: absolute;
	top: 1770px;
 
}
.titleL{
	font-size: 14px;
	font-family: Open Sans;
	
	
	
}

.LIDown{
	
  position: absolute;
  margin-left:263px;
  top: 1920.502px;
}

.cloudDown{
	margin-left:193px;
	margin-top:58px;
	
}

.titleLI{
	
  font-size: 14px;
  font-family: Open Sans;
  text-align: left;
  
  
}
 





.flexContainerSub {
  display: flex;
  background-color: #fff;
  height:598px;
 
  
}

.flexContainerSub > div {
  background-color: #fff;
  margin: 1px;
  padding: 1px;
  font-size: 14px;
}
